---
---

@import "{{ site.theme }}";

// Make the middle footer column a bit wider on the left to fit the github name on a single line
.footer-col-1 {
    width: calc(30% - (30px / 2));  // prev: 35%
}
.footer-col-2 {
    width: calc(25% - (30px / 2));  // prev: 20%
}

img.center {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
figcaption {
  text-align: center;
  width: 75%;
  margin: 10px auto 35px;
  line-height: 1.35;
  color: #888;
  font-size: 15px;
}
