---
---

@import "{{ site.theme }}";

body {
  font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
  font-size: 17px;
}

// h1, h2, h3 {
//   font-family: "Perpetua Titling MT", serif;
// }

code {
  font-family: "Courier New", Courier, monospace;
}

// Make the middle footer column a bit wider on the left to fit the github name on a single line
.footer-col-1 {
  width: calc(30% - (30px / 2));  // prev: 35%
}
.footer-col-2 {
  width: calc(25% - (30px / 2));  // prev: 20%
}

img.center {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
figcaption {
  text-align: center;
  width: 75%;
  margin: 10px auto 35px;
  line-height: 1.35;
  color: #888;
  font-size: 15px;
}

.tag-list {
  list-style-type: none; /* Remove default bullet points */
  display: flex; /* Display the list items horizontally */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}
.tag-list li {
  background-color: #f2f2f2; /* Light grey background */
  color: #888; /* Light gray text color */
  margin-right: 10px; /* Add some space between the list items */
  border: 1px solid #dcdcdc; /* Light grey border */
  border-radius: 8px; /* Rounded corners */
  // box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  // cursor: default; /* Default cursor to indicate non-interactive */
  // transition: background-color 0.3s ease;
}
.tag-list li:hover {
  background-color: #d9d9d9; /* Darker gray */
}
.tag-list a {
  text-decoration: none; /* Remove the underline from the link */
  display: block; /* Makes the anchor fill the li */
  color: #888; /* Light gray text color */
  padding: 5px 15px; /* Top/bottom and left/right padding */
  font-family: Arial, sans-serif;
  font-size: 14px;
}
